<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
    <link data-th-href="@{/css/css-loader.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<div class="loader loader-default"></div>


<div class="container">
    <div class="row">

        <div id="title">
            <h1>Library People + Library Books</h1>
        </div>
    </div>

    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/">People</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books">Books</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <table th:if="${people}" id="people" class="table table-striped">
            <thead>
            <tr>
                <th width="20%">Name</th>
                <th width="20%">Email</th>
                <th width="20%">Phone</th>
                <th width="40%">Burrowed</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ppl : ${people}">
                <td th:text="${ppl.name}"></td>
                <td th:text="${ppl.email}"></td>
                <td th:text="${ppl.phone}"></td>
                <td>
                    <button th:if="${not #lists.isEmpty(ppl.books)}" type="button" class="btn btn-primary showbooks"
                            th:attr="name=${ppl.name},id=${ppl.id}">Books
                    </button>
                </td>
                <!--<td><p th:each="pbk : ${ppl.books}"><span th:text="${pbk.title}"/></p></td>-->
                <td></td>
            </tr>
            </tbody>
        </table>

        <table th:if="${books}" id="books" class="table table-striped">
            <thead>
            <tr>
                <th width="20%">ISBN</th>
                <th width="60%">Title</th>
                <th width="20%">Author</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.ISBN}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
            </tr>
            </tbody>
        </table>

        <table id="borrow" class="table table-striped" style="display: none">
            <thead>
            <tr>
                <th id="selected"></th>
                <th>Has borrowed</th>
            </tr>
            <tr>
                <th width="20%">ISBN</th>
                <th width="60%">Title</th>
                <th width="20%">Author</th>
            </tr>
            </thead>
            <tbody>
            <tr></tr>
            </tbody>
        </table>
    </div>

</div>

<script data-th-src="@{/js/main.js}"></script>

</body>

</html>